/* POCZĄTEK KODU DLA ROZDZIELCZOŚCI POWYŻEJ 1170px*/

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    margin: 0 auto;
}

div#container section.man2 img {
    display: none;
}

div#container {
    height: 100vh;
    background: url(../obrazy/man-1.jpg) center no-repeat fixed;
    background-size: cover;
}


/* NAGŁÓWEK HORYZONTALNIE DO LEWEJ*/


/* WERTYKALNIE DO ŚRODKA */

div#container header#main-header {
    position: absolute;
    text-align: left;
    width: 100%;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
}


/* KONIEC KODU DLA ROZDZIELCZOŚCI POWYŻEJ 1170px*/


/* REGUŁA DLA ROZDZIELCZOŚCI PONIŻEJ 1170px */

@media (max-width: 1170px) {
    div#container header#main-header {
        text-align: right;
        width: 100%;
        left: 0;
        top: 30%;
        right: 0;
        transform: translateY(-50%);
    }
    div#container {
        height: 70vh;
        background: url(../obrazy/man-2.jpg) center no-repeat fixed;
        background-size: cover;
    }
    div#container header#main-header h2 {
        padding-right: 9.6em;
    }
}


/* REGUŁA DLA ROZDZIELCZOŚCI PONIŻEJ 992px */

@media (max-width: 992px) {
    /* UKRYCIE OBRAZKA W TLE */
    div#container {
        background: none;
    }
    /* NAGŁÓWEK POD OBRAZKIEM */
    div#container header#main-header {
        position: relative;
        color: black;
        text-align: center;
        padding: 0;
        transform: none;
        height: 0;
        width: 100%;
        top: 0;
    }
    /*ZMIANA ROZMIARU CZCIONKI DLA NAGŁÓWKA I WYRÓWNANIE GO*/
    div#container header#main-header h2 {
        font-size: 1.5em;
        padding: 0;
    }
    /* ODKRYCIE OBRAZU SECTION*/
    div#container section.man2 img {
        display: inline-block;
        width: 100%;
        height: 50%;
    }
}